<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:replace="~{ShareDear/fragments/CommonComp :: headerComp}"></div>

<body>

<div th:replace="~{ShareDear/fragments/CommonComp :: navbarComp}"></div>



<div class="p-3 profileFormDiv">
    <div class="m-1">
        <h3 class="text-primary">Profile Information</h3>
    </div>
    <div class="m-1">
        <h5 class="text-primary text-center">Password Update</h5>
    </div>


    <div class="profileForm row">
        <div class="col-md-8 offset-md-2">
            <form th:action="@{/profile/passwordUpdateSave}" th:object="${updateUserPojo}" method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" id="password_old" placeholder="Enter current password"
                           name="Password_old">
                    <label for="password_old">Current password :</label>
                </div>
                <div class="form-floating mb-3 mt-3 ">
                    <input type="password" class="form-control" id="password_new" placeholder="Enter password"
                           name="Password_new">
                    <label for="password_new">New password :</label>
                    <p th:if="${password_error}" th:text="${password_error}"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="myButton w-50">Submit</button>
                </div>
            </form>

            <div th:if="${Match}">
                <h4 class="text-success text-center">Password Updated Successfully</h4>
                <p class="text-center text-dark">Go back to <a class="text-decoration-none text-primary" th:href="@{/profile/}">Profile</a> page</p>
            </div>
            <div th:if="${NotMatch}">
                <h4 class="text-danger text-center">Current Password did not match, try again..!</h4>
            </div>
        </div>
    </div>
</div>


</body>


</html>