<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:replace="~{ShareDear/fragments/CommonComp :: headerComp}"></div>

<body>

<div th:replace="~{ShareDear/fragments/CommonComp :: navbarComp}"></div>

    <div class="p-3 profileFormDiv">
        <div class="row m-1">
            <div class="col-md-6">
                <h3 class="text-primary">Profile Information</h3>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div>
                    <a class="customLinKButton postButton" th:href="@{/post/all(page=0)}">My
                            Posts</a>
                    <a class="customLinKButton friendButton" th:href="@{/users/friends(page=0)}">My
                            Friends</a>
                    <a class="customLinKButton requestButton" th:href="@{/request/all(page=0)}">
                        Friend Requests</a>
                </div>
            </div>
        </div>
        <div class="profileForm">

                <div class="row">

                    <div class="col-md-4 p-2">
                        <form th:action="@{/profile/profilePictureUpdate}" th:object="${currentUser.profilePic}" method="post" enctype="multipart/form-data">

                         <div class="d-none">

                             <input style="display : none;" type="text" name="profile_id" id="profile_id" th:field="*{id}">
                         </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <img th:src="@{'/Profile_images/'+ ${currentUser.profilePic.img}}" alt="" class="img-thumbnail profile_img">
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <input style="display:none" type="file" id="my-file" name="profile_img">
                            <button type="button" onclick="document.getElementById('my-file').click()" class="myButton mt-2 mx-1 w-40">Select New</button>
                        </div>
                            <div class="d-none">
                                <input style="display:none" type="text" class="form-control" id="profile_user_id"
                                       name="profile_user_id" th:field="${currentUser.profilePic.user_id.id}">
                            </div>
                        <div class="d-flex mt-1">
                            <a class="customLinKButton mt-2 mx-1 flex-fill cancelActionButton" th:href="@{/profile/profilePictureRemove(pid=${currentUser.profilePic.id})}">
                                Remove</a>
                            <button type="submit" class="myButton mt-2 mx-1 flex-fill">Update</button>
                        </div>
                        </form>
                    </div>



                    <div class="col-md-8">
                        <form th:action="@{/profile/profileUpdate}" th:object="${updateUserPojo}" method="post" enctype="multipart/form-data">
                        <div class="info">
                            <div class="form-floating mb-3 mt-3 d-none" >
                                <input style="display:none" type="text" class="form-control" id="user_id"
                                       name="user_id" th:field="*{id}">
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="name" placeholder="Enter name"
                                    name="fname" th:field="*{name}">
                                <label for="name">Full Name :</label>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="username" placeholder="Enter username"
                                    name="username" th:field="*{username}" readonly>
                                <label for="username">Username :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="email" class="form-control" id="email" placeholder="Enter email"
                                    name="email" th:field="*{email}" readonly>
                                <label for="email">Email :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="number" class="form-control" id="age" placeholder="Enter age"
                                    name="age" th:field="*{age}" required>
                                <label for="age">Age :</label>
                                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="date" class="form-control" id="bdate" placeholder="Enter education"
                                       name="bdate" th:field="*{birthDate}" required>
                                <label for="bdate">BirthDate :</label>
                                <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="education" placeholder="Enter education"
                                    name="education" th:field="*{education}">
                                <label for="education">Education :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="occupation" placeholder="Enter occupation"
                                    name="occupation" th:field="*{occupation}">
                                <label for="occupation">Occupation :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="address" placeholder="Enter address"
                                    name="address" th:field="*{address}">
                                <label for="address">Addresss :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="city" placeholder="Enter city"
                                    name="city" th:field="*{city}">
                                <label for="city">City :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="state" placeholder="Enter state"
                                    name="state" th:field="*{state}">
                                <label for="state">State :</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 d-none">
                                <input type="text" class="form-control" id="password" placeholder="Enter password"
                                       name="Password" th:field="*{password}" readonly>
<!--                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
                            </div>
                        </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="myButton w-50">Submit</button>
                            </div>

                        </form>

                        <p class="text-center m-1"><a class="text-decoration-none text-primary" th:href="@{/profile/passwordUpdate}">Password Update</a></p>
                    </div>
                </div>


        </div>
    </div>
</body>


</html>